.select {
  &__container {
    width: 100%;
    position: relative;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41 0.589996L6 5.17L10.59 0.589996L12 2L6 8L0 2L1.41 0.589996Z' fill='%237A5CFA'/%3E%3C/svg%3E");
      position: absolute;
      height: 8px;
      width: 12px;
      right: 16px;
      top: 50%;
      pointer-events: none;
    }
  }

  &__label {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 8px;
    color: var(--colors-secondary);
    display: block;
  }

  &__control {
    width: 100%;
    background: var(--colors-background);
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--colors-foreground);
    border: none;
    border-radius: 8px;
    padding: 0px 16px;
    outline: 1px solid var(--colors-tertiary);
    display: block;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    padding-right: 32px;

    &--error {
      outline-width: 2px;
      outline-color: var(--colors-error);
    }

    &:focus {
      outline-width: 2px;
      outline-color: var(--colors-primary);
    }

  }

  &__helper-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 4px;
    color: var(--colors-secondary);

    &--error {
      color: var(--colors-error);
    }
  }
}